<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCPvoI0d9rl-NTJ1ljUhD2ZYcWFW5_yyYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>563716116027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.patrickscully.cardgame25</string>
	<key>PROJECT_ID</key>
	<string>cardgame-9f9d3</string>
	<key>STORAGE_BUCKET</key>
	<string>cardgame-9f9d3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563716116027:ios:75bb6898b15ff73b8b161e</string>
</dict>
</plist>